<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/default.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/atom-one-dark.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <script>
    hljs.initHighlighting();
  </script>
</head>
<body class="dark-theme">
  <header>
    <div class="container">
      <nav class="navbar">
        <a href="../../index.html">
          <h2> devTBenoth </h2>
        </a>
        <div class="btn-group">
          <button class="theme-btn theme-btn-mobile light">
            <ion-icon name="moon" class="sun"></ion-icon>
            <ion-icon name="sunny" class="moon"></ion-icon>
          </button>
          <button class="nav-menu-btn">
            <ion-icon name="menu-outline"></ion-icon>
          </button>
        </div>
        <div class="flex-wrapper">
          <ul class="desktop-nav">
            <li>
              <a href="../../index.html" class="nav-link">Home</a>
            </li>
            <li>
              <a href="about_me.html" class="nav-link">About Me</a>
            </li>
          </ul>
          <button class="theme-btn theme-btn-desktop light">
            <ion-icon name="sunny" class="moon"></ion-icon>
            <ion-icon name="moon" class="sun"></ion-icon>
          </button>
        </div>
        <div class="mobile-nav">
          <button class="nav-close-btn">
            <ion-icon name="close-outline"></ion-icon>
          </button>
          <div class="wrapper">
            <p class="h3 nav-title">Main Menu</p>
            <ul>
              <li class="nav-item">
                <a href="../../index.html" class="nav-link">Home</a>
              </li>
              <li class="nav-item">
                <a href="about_me.html" class="nav-link">About Me</a>
              </li>
            </ul>
          </div>
          <div>
            <p class="h3 nav-title">Topics</p>
            <ul>
              <li class="nav-item">
                <a href="#" class="nav-link"> Assembly Language </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link"> C programming</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <main>
    </div>
    <div class="main">
      <div class="container">
        <div class="blog">
          <h2 class="h2">About Me &nbsp; - Hakkımda &nbsp; </h2>
          <div class="blog-card-group">
            <main class="conMain">
                <div class="conText">
                    <h2> Ben Kimim? </h2> <hr> <br> 
                    <p> 
                      Adım Berkay (kısaca bekoo). 16 yaşındayım ve 2 yıldır siber güvenlik gibi alanlarla ilgileniyorum. Bu sıralar ise web tarafından backend ve frontend tarafıyla ilgileniyorum.
                    </p> <br>
                    <p> 
                      Siber güvenlikte, <strong> Reverse Engineering, Malware Analysis </strong> ve <strong> Network Pentest</strong> alanlarıyla ilgileniyorum. Ancak Reverse Engineering tarafına daha ağırlıklı ilgileniyorum. 
                    </p> <br>
                    <p>
                      Eğer biraz araştırmışsanız bile Reverse Engineering ve Assembly ile ilgili kaynakların az olduğunu görmüşsünüzdür (Türkçe kaynaklar). Bu sitede ise ağırlıklı olarak X86 Linux Assembly ile ilgili kaynaklar ve Reverse Engineering için çeşitli kaynakların barındığı bir site olmasını hedefliyorum. 
                    </p> 
                </div>
            </main>
          </div>
            <a href="../../index.html"> <button class="btn load-more">Back to Home Page --> </button> </a>
        </div>
        <div class="aside">
          <div class="topics">
            <h2 class="h2">Topics</h2>
            <a href="#" class="topic-btn">
              <div class="icon-box">
                <ion-icon name="code-slash-outline"></ion-icon>
              </div>
              <p> Assembly Language </p>
            </a>
            <a href="#" class="topic-btn">
              <div class="icon-box">
                <ion-icon name="code-slash-outline"></ion-icon>
              </div>
              <p> C Programming </p>
            </a>
          </div>
          <div class="tags">
            <h2 class="h2">Tags</h2>
            <div class="wrapper">
              <button class="hashtag">#assemblylanguage</button>
              <button class="hashtag">#binary</button>
              <button class="hashtag">#cprogramming</button>
              <button class="hashtag">#socketprogramming</button>
              <button class="hashtag">#programming</button>
            </div>
          </div>
          <div class="contact">
            <h2 class="h2">Let's Talk</h2>
            <div class="wrapper">
              <p>
                  Eğer konularda takıldığınız noktalar veya sorularınız olursa benimle iletişime geçebilirsiniz!
              </p>
              <ul class="social-link">
                <li>
                  <a href="https://github.com/devTBenoth" class="icon-box github">
                    <ion-icon name="logo-github"></ion-icon>
                  </a>
                </li>
                <li>
                  <a href="https://instagram.com/froghlatasch" class="icon-box instagram">
                    <ion-icon name="logo-instagram"></ion-icon>
                  </a>
                </li>
                <li>
                  <a href="" class="icon-box reddit">
                    <ion-icon name="logo-reddit"></ion-icon>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script src="../js/script.js"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>